{% extends "header.html" %}

{% block header %}

<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="http://127.0.0.1:8000/bootstrap.min.css">


<style>
  body {
    background-color: #424242; /* Overall page background color */
    color:  #616161; /* Default text color for better contrast */
  }
  .custom-container {
    background-color: #616161; /* Slightly lighter background color for the container */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .custom-title, .custom-subtitle {
    color: #616161; /* White text for titles and subtitles */
  }
  .custom-img {
    height: 500px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .login-link {
    font-size: 1.2rem;
    color: #007bff;
  }
  a {
    color: #007bff; /* Link color for better visibility */
  }
</style>

<main class="container">
  <div class="bg-body-tertiary custom-container d-flex justify-content-center align-items-center">
    <div class="text-center">
      {% if request.user.is_authenticated %}
        <h1 class="custom-title">{{ title }}</h1>
        <div class="mt-5">
          <h3 class="custom-subtitle mb-5">Welcome Back, {{ user }}</h3>
        </div>
        <img class="custom-img" src="../static/img/bg4.svg" alt="Asset Image">
      {% else %}
        <p class="login-link">Login <a href="/accounts/login">here</a></p>
      {% endif %}

      {% block title %}
      {% endblock %}
  
      {% block content %}
      {% endblock %}
    </div>
  </div>
</main>

{% endblock header %}
