{% extends "header.html" %}
{% load static %}
{% load bootstrap5 %}
{% block header %}
<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

<style>
  body {
    background-color: #424242;
    color:  #616161; /* Default text color for better contrast */
  }
  .custom-container {
    background-color: #616161; /* Slightly lighter background color for the container */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .custom-title {
    font-size: 2.5rem;
    color:  #616161; /* White text for titles */
  }
  .custom-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  .custom-table th, .custom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #616161;
  }
  .custom-table th {
    background-color: #616161;
    color: #ffffff; /* White text for table headers */
  }
  .custom-table tr:hover {
    background-color: #757575;
  }
  .custom-alert {
    margin-bottom: 20px;
  }
  .custom-img {
    height: 20px;
  }
  .login-link {
    font-size: 1.2rem;
    color: #ffffff; /* White text for login link */
  }
  .login-link a {
    color:  #616161;
  }
  .login-link a:hover {
    color: #616161;
  }
  .messages {
    list-style-type: none;
    padding: 0;
  }
  .messages li {
    margin-bottom: 10px;
  }
</style>

<main class="container">
  {% if request.user.is_authenticated %}
  <div class="alert alert-success custom-alert">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
  
  <div class="bg-body-tertiary custom-container">
    <h1 class="title mb-5 custom-title">{{ title }}</h1>
    <div class="row mb-3">
      <form method="post" action="" class="pr-4">
          {% csrf_token %}
          {{ form.media }}
          <div class="row align-items-center">
              {% for field in form %}
              <div class="col-sm-3">
                  {% bootstrap_field field %}
              </div>
              {% if field.name == 'export_to_CSV' %}
              <div class="col-sm-3 ml-auto">
                  <input class="btn btn-primary" type="submit" value="Search" />
              </div>
              {% endif %}
              {% endfor %}
          </div>
      </form>
    </div>
  
    <table class="custom-table">
        <tr>
            <th>#</th>
            <th>Device Name</th>
            <th>Brand</th>
            <th>Warranty</th>
            <th>Operating System</th>
            <th>USER'S NAME</th>
            <th>LOCATION</th>
            <th>ACTION</th>
        </tr>
        {% for instance in queryset %}
        <tr>
          <td>{{ forloop.counter }}</td>
          {% if perms.djangoapp.change_computer %}
          <td><a href="{% url 'computer_edit' id=instance.id %}" data-toggle="tooltip" title="edit this item" style="color: #007bff;">{{ instance.computer_name }}</a></td>
          {% else %}
          <td>{{ instance.computer_name }}</td>
          {% endif %}
          <td>{{ instance.MAC_address }}</td>
          <td>{{ instance.IP_address }}</td>
          <td>
              {% for os in instance.operating_system.all %}
                  {{ os.operating_system }}
                  {% if not forloop.last %}, {% endif %}
              {% endfor %}
          </td>
          <td>{{ instance.users_name }}</td>
          <td>{{ instance.location }}</td>
          {% if perms.djangoapp.delete_computer %}
            <td><a href="{% url 'computer_delete' id=instance.id %}" data-toggle="tooltip" title="delete this item"><img class="custom-img" src="{% static 'img/del.png' %}" alt="Delete"></a></td>
          {% else %}
            <td><img class="custom-img" src="{% static 'img/del.png' %}" alt="Delete"></td>
          {% endif %}
        </tr>
        {% endfor %}
    </table>
  </div>
  {% else %}
  <p class="login-link">Log in <a href="/accounts/login">here</a></p>
  {% endif %}
</main>

{% endblock header %}
